.card img {
    width: 500px;
    max-width: 100%;
    height: auto;
    flex-shrink: 0; /* Запрещаем картинке уменьшаться при недостатке места */
}

.order-details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .client-info,
  .packer-info,
  .courier-info {
    margin-bottom: 20px;
    text-align: center;
  }
  